[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
spacy = "*"
pandas = "*"
numpy = "*"
xmltodict = "*"
scikit-learn = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.6"
